@(title: String, script: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<title>@title</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-responsive.css"))'>
	</head>
    <body>
	    <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="/">News Seeder</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Add
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="@routes.CompanyController.addCompany">Add Company</a>
							</li>
							<li>
								<a href="@routes.SampleDocumentController.addSampleDoc">Add Sample Document</a>
							</li>
							<li>
								<a href="@routes.RssFeedController.addRssFeed">Add Rss Feed</a>
							</li>
						</ul>
					</li>
	            	<li>
						<a href="@routes.FetchRssFeedController.createFetch">Fetch Similar Links</a>
	            	</li>
	            	<li>
	            		<a href="#">View Similar Links</a>
	            	<li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>
        @content
    </body>
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))"></script>
    @script
</html>
